{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<section class="container">
		<h1>Accueil</h1>
		<div class="intro">
			
			<div class="content">
				<h2>{{postOne.title}}</h2>
				<p class="accroche">{{postOne.content|striptags|slice(0, 200) ~ '...'}}</p>
				<a href="{{path('app_qui_suis_je')}}"><button>Lire la suite</button></a>
			</div>
			<img src="{{asset('/upload/images/pages/'~ postOne.image)}}" class="content-image" alt="">
		</div>
		<hr>


	</section>
	<section class="section-form ">
		<h2 class="contact_title">Contact</h2>
		<div class="form ">
			{{form(form)}}
				<div class="separator-form"></div>
				<div class="rens">
					<div class="infos">
						<i class="fas fa-map-marker-alt"></i>
						<p>108 blvrd Carnot 47000 Agen</p>
					</div>
					<div class="infos">
						<i class="fas fa-phone-alt"></i>
						<p>06 47 85 74 74</p>
					</div>
					<div class="infos">
						<i class="fas fa-paper-plane"></i>
						<p>contact@therapeute-mikoff.fr</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>

	<div class="image-deco"></div>
	<div class="list container">
		{% if posts %}
			{% for post in posts %}
				<div class="container mb-3 col-sm-6 col-lg-4">
					<div class="row ">
						<div class="card rounded p-0 shadow-lg"  style="width: 24rem;">

							<img src="{{asset('/upload/images/articles/' ~ post.image)}}" class="card-img-top col-sm-6 col-md-6 col-lg-4" alt="image de la carte">

							<div class="card-body">
								<h3 class="card-title">{{post.title}}</h3>
								<p class="card-text p-2">{{post.content|striptags|slice(0, 200) ~ '...'}}<br><span class="text-muted">Publié le:
										{{post.createdAt| date("d M Y H:i", "Europe/Paris")}}</span>
								</p>
								<a href="{{path('show_post',{'id': post.id})}}" class="btn btn-primary">Lire plus</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			Il n'y à actuellement aucun article
		{% endif %}
	</div>


{% endblock %}
