{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<section class="container">
		<h1>Accueil</h1>
		<div class="intro">
			<h2>Mon approche thérapeutique</h2>
			<p class="accroche">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Eligendi consequuntur facilis quis reiciendis odio quod esse suscipit, 
								saepe ex nobis. Praesentium maiores reprehenderit natus quo, ullam quos 
								distinctio odio nobis sint sapiente fugiat culpa nulla animi quasi unde 
								maxime ipsum. Nesciunt quam similique praesentium et necessitatibus dolorem, 
								illum explicabo quo! Officiis officia blanditiis eveniet, ullam sint...</p>
			<a href="{{path('app_qui_suis_je')}}">
				<button>Lire la suite</button>
			</a>
		</div>
		<hr>
		

	</section>
	<section class="section-form">
		<h2 class="contact_title">Contact</h2>
		<div class="form">
			{{form(form)}}
			<div class="separator-form">
			</div>
				<div class="rens">
					<div class="infos">
						<i class="fas fa-map-marker-alt"></i>
						<p>108 blvrd Carnot 47000 Agen</p>
					</div>
					<div class="infos">
						<i class="fas fa-phone-alt"></i>
						<p>06 65 98 65 32</p>
					</div>
					<div class="infos">
						<i class="fas fa-paper-plane"></i>
						<p>adresse@outlook.net</p>
					</div>
				</div>
			</div>
		</div>
	
	<div class="list">
		{% if posts %}
			{% for post in posts %}
				<div class="container col-sm-6 col-lg-6">
					<div class="row m-5">
						<div class="card rounded m-auto shadow-lg  p-2">
							<img src="{{asset('upload/post/' ~ post.image)}}" class="card-img-top" alt="image de la carte">
							<div class="card-body">
								<h3 class="card-title">{{post.title}}</h3>
								<p class="card-text">{{post.content|u.truncate(100)}}<br><span class="text-muted">Publié le:
										{{post.createdAt| date("D, d M Y H:i", "Europe/Paris")}}</span>
								</p>
								<a href="{{path('show_post',{'id': post.id})}}" class="btn btn-primary">Lire plus</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			Il n'y à actuellement aucun article
		{% endif %}
	</div>


{% endblock %}
