<nav class="navbar  navbar-expand-lg  navbar-dark fixed-top ">
	<div class="container-fluid">
		<div class="d-block">
			<a class="navbar-brand" href="{{path('app_home')}}"><img class="img-fluid  d-lg-block " id="logo"src="{{ asset('build/images/Logo-V-Mikoff-250X250.0a711fb2.png') }}" alt="ACME logo"></a>
            {# <p>Viviane Mikoff</p> #}
		</div>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav m-auto ">
				<li class="nav-item  p-md-3 ">
					<a class="nav-link menu " aria-current="page" href=" {{ path('app_home')}} ">Accueil</a>
				</li>
				<li class="nav-item  p-md-3 ">
					<a class="nav-link menu" aria-current="page" href="{{path('app_les_patient')}} ">Les patients que je reçois</a>
				</li>
				<li class="nav-item p-md-3">
					<a class="nav-link menu " href="{{path('app_qui_suis_je')}}">Qui suis-je</a>
				</li>
				<li class="nav-item p-md-3">
					<a  class="nav-link menu" href="{{path('app_contact')}}">Contact</a>
				</li>
			</li>
			
		</ul>
		<ul class="navbar-nav m-auto d-flex justify-content-end fs-4">
			<li class="nav-item p-md-3">
				<a href="https://www.facebook.com/viviane.mikoffguaitoli" target="_blank" class="nav-link">
					<i class="fab fa-facebook fs-2 "></i>
				</a>
			</li> 
			<li class="nav-item p-md-3">
				<a href="https://www.instagram.com/vivianemikoff/" target="_blank" class="nav-link">

					<i class="fab fa-instagram fs-2"></i>
				</a>
			</li>
		</ul>

	</div>
</div></nav>